@import "../styles/globals.scss";

.background {
  z-index: -1;
  width: 100%;
  height: 100%;
}

.home-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  align-self: center;
  height: 100%;
}

@media (max-width: $mobile-screen-size) {
  .background {
    width: fit-content;
  }

  .home-page-content {
    gap: 2rem;

    .home-info-section {
      margin-top: 11vh;
    }
  }
}
