@import "../../../styles/constants.scss";

.background-error-page {
  @include page-background-image("../../../assets/ErrorPage/outer_space.jpg");
}

.error-content {
  display: flex;
  padding-top: 20vh;
  flex-direction: column;
  align-items: center;
  font-size: clamp(2rem, 1rem + 2vw, 7rem);
}
