:root {
  font-family: "Inria Serif", serif;
  background-image: url(./Home_PageV2.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

body,
html {
  margin: 0;
  padding: 0;
}
