@import "../../../styles/constants.scss";

.solar-system-background {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
  // @include page-background-image(
  //   "../../../assets/SolarSystemPageImages/stars.jpg"
  // );
}

.planet-section {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  overflow-x: hidden;

  .earth-section {
    .moon-img {
      width: clamp(4rem, 1rem + 4vw, 8rem);
      position: relative;
      left: 6rem;
      top: 4rem;
      z-index: 10;
      cursor: pointer;
    }
  }

  .sun-card {
    padding-top: 20vh;
  }
}

@media (max-width: $mobile-screen-size) {
  .planet-section {
    gap: 3rem;

    .sun-card {
      padding-top: 13vh;
    }

    .earth-section {
      .moon-img {
        width: clamp(3rem, 1rem + 10vw, 7rem);
        position: relative;
        left: 3rem;
        top: 8rem;
        cursor: pointer;
      }
    }
  }
}
