@import "../../../styles/constants.scss";

.solar-system-background {
  @include page-background-image("../../../../public/planets/gwiazdy_2.jpg");
}

.planet-section {
  display: flex;
  flex-direction: column;
  gap: 10rem;

  .earth-section {
    .moon-img {
      width: clamp(4rem, 1rem + 4vw, 8rem);
      position: relative;
      left: 6rem;
      top: 4rem;
      z-index: 10;
      cursor: pointer;
    }
  }

  .sun-card {
    padding-top: 20vh;
  }
}
