@import "../styles/globals.scss";

.background {
  object-fit: cover;
  z-index: -1;
}

.home-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  // overflow-y: hidden;

  .home-info-section {
    padding-top: 5vh; // Zmniejsz tę wartość
  }

  #button-container {
    height: 20vh; // Zmniejsz tę wartość
  }
}

@media (max-width: $mobile-screen-size) {
  .background {
    width: fit-content;
  }

  .home-page-content {
    gap: 2rem;

    .home-info-section {
      margin-top: 11vh;
    }
  }
}
