@import "../../styles/constants.scss";

@mixin card-components($direction: left) {
  color: $neutral-color-95;
  display: grid;
  padding: 0 3rem;
  gap: 1rem;

  .planet-name {
    font-size: clamp(2rem, 1rem + 1.7vw, 4.5rem);
    text-align: center;

    h1 {
      font-weight: $primary-font-weight;
      margin: 2rem;
      margin-top: 4rem;
      margin-bottom: 0.5rem;
    }
  }

  .planet-img-container {
    grid-row: span 2;
    text-align: center;
    align-self: center;

    img {
      width: clamp(26rem, 32vw, 40rem);
    }
  }

  .information-container {
    display: flex;
    flex-direction: column;

    .planet-overview {
      display: flex;
      justify-content: center;
      font-size: clamp(1.5rem, 1rem + 1vw, 3rem);
      text-align: center;

      p {
        margin: 0 3rem;
      }
    }

    .planet-figures {
      border-top: ridge 1px $neutral-color-80;
      border-top-right-radius: 1px;
      display: flex;
      gap: 2rem;
      justify-content: space-evenly;
      margin-top: 4rem;
      margin-bottom: 5rem;

      .single-planet-figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .measure {
          display: flex;
          flex-direction: row;
          gap: 1rem;
          color: rgb(238, 155, 0);

          #planet-icon {
            width: clamp(2.2rem, 1rem + 0.8vw, 3.5rem);
            align-self: flex-end;
            padding-bottom: 1rem;
          }

          h3 {
            margin-top: 1rem;
            margin-bottom: 1rem;
          }

          .measure-text {
            font-size: clamp(1rem, 1rem + 0.8vw, 3rem);
            align-self: center;
            color: $neutral-color-95;
          }
        }

        .description-text {
          margin: 0;
          font-size: clamp(1rem, 1rem + 0.6vw, 3rem);
          color: $neutral-color-80;
        }

        h3 {
          font-size: 4vh;
          font-weight: $primary-font-weight;
          margin: 1rem 0;
        }
      }
    }
  }
}

.card-container-left {
  grid-template-columns: 3fr 5fr;

  .information-container {
    grid-area: 2 / 2;
  }

  .planet-name {
    grid-area: 1 / 2;
  }
  @include card-components;
}

.card-container-right {
  grid-template-columns: 5fr 3fr;

  @include card-components;
}

@media (max-width: 90em) {
  .card-container-left,
  .card-container-right {
    .planet-name {
      h1 {
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
    }

    .information-container {
      .planet-figures {
        margin: 2rem;

        .measure-text {
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: $mobile-screen-size) {
  .card-container-left,
  .card-container-right {
    color: $neutral-color-95;
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr;
    padding: 0 0;
    gap: 0;

    .planet-name {
      grid-area: 1 / 1;

      h1 {
        font-size: 5vh;
        margin-bottom: 0;
      }
    }

    .planet-img-container {
      width: auto;
      height: auto;
      text-align: center;
      grid-row: 2;
      margin: 2rem 0;

      img {
        width: 34vh;
      }
    }

    .information-container {
      grid-area: 3 / 1;

      .planet-overview {
        font-size: 2.5vh;
      }

      .planet-figures {
        display: grid;
        padding-top: 2rem;
        gap: 1rem;

        .single-planet-figure {
          flex-direction: column-reverse;

          h3 {
            font-size: 3.7vh;
            margin-bottom: 0.5rem;
          }

          .measure {
            align-items: center;
            text-align: center;

            #planet-icon {
              width: 2rem;
              align-self: flex-end;
              padding-bottom: 1.2rem;
            }

            .measure-text {
              font-size: 2.2vh;
              color: $neutral-color-95;
            }
          }

          .description-text {
            font-size: clamp(1.5rem, 1rem + 3vw, 3rem);
          }
        }
      }
    }
  }
}
