$neutral-color-95: hsl(0, 0%, 95%);
$neutral-color-90: hsl(0, 0%, 90%);
$neutral-color-85: hsl(0, 0%, 85%);
$neutral-color-80: hsl(0, 0%, 80%);
$neutral-color-75: hsl(0, 0%, 75%);

$navbar-background-color: hsl(0, 0%, 05%, 0.5);

$primary-font-weight: 400;

$mobile-screen-size: 65em;

@mixin page-background-image($url-path: "./") {
  background: url($url-path);
  background-size: auto;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
