$neutral-color-95: hsl(0, 0%, 95%);
$neutral-color-90: hsl(0, 0%, 90%);
$neutral-color-85: hsl(0, 0%, 85%);
$neutral-color-80: hsl(0, 0%, 80%);
$neutral-color-75: hsl(0, 0%, 75%);
$neutral-color-25: hsla(0, 0%, 25%);
$neutral-color-15: hsla(0, 0%, 15%, 0.5);
$neutral-color-10: hsla(0, 0%, 10%);
$neutral-color-5: hsla(0, 0%, 5%);

$navbar-background-color: hsl(0, 0%, 05%, 0.5);

$primary-font-weight: 400;

$tranistion-time: 0.2s;

$mobile-screen-size: 65em;

@mixin page-background-image($url-path: "./") {
  background: url($url-path);
  position: fixed;
  background-size: auto;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: -1;
}

:root {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  z-index: 9999;
}

::-webkit-scrollbar-track {
  background-color: $neutral-color-10;
}

::-webkit-scrollbar-thumb {
  background-color: $neutral-color-25;
  border-radius: 3px;
  height: 9rem;
}
