@import "../../../styles/constants.scss";

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @include page-background-image(
    "../../../assets/HomePageImages/home_page.jpg"
  );
}

.home-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  .home-info-section {
    margin-top: 11vh;
  }
}

@media (max-width: $mobile-screen-size) {
  .home-page-content {
    gap: 2rem;

    .home-info-section {
      margin-top: 11vh;
    }
  }
}
