@import "../../../styles/constants.scss";

.background {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // gap: 2rem;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;

  // @include page-background-image(
  //   "../../../assets/HomePageImages/Home_Page_1920_dark.jpg"
  // );
}

.home-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  overflow-y: hidden;

  #button-container {
    height: 30vh;
  }

  .home-info-section {
    margin-top: 11vh;
  }
}

@media (max-width: $mobile-screen-size) {
  .home-page-content {
    gap: 2rem;

    .home-info-section {
      margin-top: 11vh;
    }
  }
}
