@import "../../../styles/constants.scss";

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @include page-background-image(
    "../../../assets/HomePageImages/Home_PageV2.jpg"
  );

  .home-info-section {
    margin-top: 8rem;
  }
}

@media (max-width: $mobile-screen-size) {
  .background {
    gap: 4rem;
  }
}
