@import "../../../styles/constants.scss";

.background-moon {
  @include page-background-image("../../../assets/MoonPageImages/cosmos.jpg");

  .go-back-container {
    display: flex;
    position: absolute;
    color: $neutral-color-95;
    top: 7rem;
    left: 2.4rem;

    .arrow-img {
      width: 3rem;
    }
  }

  .card-section {
    padding-top: 10rem;
  }
}

@media (max-width: $mobile-screen-size) {
  .background-moon {
    .card-section {
      padding-top: 4rem;
    }
  }
}
