@import "../../../styles/constants.scss";

.history-page-background {
  @include page-background-image("../../../assets/HistoryPage/galaxy_dark.jpg");
}

.history-wrapper {
  .parallax-cotent {
    margin-top: 0;
    padding-top: 10vh;
  }

  .take-off-text {
    font-size: clamp(7rem, 1rem + 15vw, 40rem);
    color: $neutral-color-95;
    justify-content: center;
    text-align: center;
    margin-top: 30vh;
  }

  .spacecraft-image {
    height: 80vh;
    text-align: center;
    transform: rotate(180deg);
    margin-top: 5rem;
    margin-left: 5rem;
  }

  .date-text {
    color: $neutral-color-95;
    text-align: center;
    font-size: clamp(5rem, 1rem + 10vw, 40rem);
    margin-left: 35%;
    margin-bottom: 0;
  }

  .mission-text {
    color: $neutral-color-95;
    text-align: center;
    font-size: clamp(3rem, 1rem + 5vw, 40rem);
    margin: 0 0 1rem 35%;
  }

  .mission-content {
    color: $neutral-color-95;
    text-align: right;
    font-size: clamp(2.5rem, 1rem + 1vw, 40rem);
    text-align: center;
    margin-left: 35%;
    padding: 2rem;
  }

  .apollo-image {
    height: 100vh;
    text-align: center;
    margin-left: 25%;
  }
}
